<%= simple_form_for @working_list do |f| %>
  <div class="form-group">
    <%= f.input :date, input_html: { class: "form-control"} %>
    <%= f.input :department, input_html: { class: "form-control"} %>
    <%= f.input :colleague, input_html: { class: "form-control"} %>
    <%= f.input :department, input_html: { class: "form-control"} %>
    <%= f.input :title, input_html: { class: "form-control"} %>
    <%= f.input :is_plan, input_html: { class: "form-control"} %>
    <%= f.input :take_time, input_html: { class: "form-control"} %>
    <%= f.input :descrption, input_html: { class: "form-control"} %>
    <%= f.input :progress, input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>
