<%= simple_form_for @working_list do |f| %>


<div class="group">
  <label>Category</label>
</div>
  <div class="group">
    <%= f.select :category_name,Category.all.map{|x| [x.name]},{},:class => "form-control",:label => "Category"%>
  </div>

  <div class="form-group">

    <%= f.input :date,as: :string ,input_html: { class: "form-control"}%>
    <%= f.input :department, input_html: { class: "form-control"} %>
    <%= f.input :colleague, input_html: { class: "form-control"} %>
    <%= f.input :title, input_html: { class: "form-control"} %>
    <%= f.input :is_plan %>
    <%= f.input :take_time, input_html: { class: "form-control"} %>
    <%= f.input :descrption, input_html: { class: "form-control"} %>
    <%= f.input :progress, input_html: { class: "form-control"} %>
  </div>
  <%= f.submit "Submit", class: "btn btn-primary", data: { disable_with: "Submitting..." } %>
<% end %>

<script type="text/javascript">
  $( "#working_list_category_id" ).select2({
      theme: "bootstrap"
  });

  $('#working_list_date').datepicker({ format: "yyyy/mm/dd" });

  autosize($('#working_list_descrption'));
</script>
