<tr>
  <td><%= wl.id%></td>
  <td><%= wl.category_name%></td>
  <td><%= wl.date %></td>
  <td><%= wl.department %></td>
  <td><%= wl.colleague %></td>
  <td><%= link_to(wl.title, working_list_path(wl),method: :get) %></td>
  <td><%= wl.is_plan %></td>
  <td><%= wl.take_time %></td>
  <td><%= wl.descrption %></td>
  <td><%= wl.progress %></td>
  <td>
    <% if current_user && current_user == wl.user %>
      <%= link_to("Edit", edit_working_list_path(wl), class: "btn btn-sm btn-default")%>
      <%= link_to("Delete", working_list_path(wl),    class: "btn btn-sm btn-default",
                  method: :delete, data: { confirm: "Are you sure?" } )%>
    <% end %>
  </td>
</tr>
