
<div class="Chart">
  <canvas id="myChart" width="300" height="300"></canvas>
</div>


<div class="col-md-12">
  <div class="group">
    <%= link_to("New Work Category", categories_path, class: "btn btn-danger pull-right") %>
    <%= link_to("New WorkingList", new_working_list_path, class: "btn btn-primary pull-right") %>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <td>#</td>
        <td>Category</td>
        <td><%=link_to("Date",working_lists_path(:working_list => "by_date"))%></td>
        <td>Department</td>
        <td>Colleague</td>
        <td>Title</td>
        <td>is_plan</td>
        <td><%=link_to("Take Time",working_lists_path(:working_list => "by_take_time"))%></td>
        <td>Descrption</td>
        <td>Progress</td>
        <td>Operating</td>
      </tr>
    </thead>
    <tbody>
      <%= render :partial => "working_list_item", :collection => @working_lists, :as => :wl %>
    </tbody>
  </table>
</div>



<script src="//cdn.bootcss.com/Chart.js/2.5.0/Chart.bundle.js"></script>
<script>

var ctx = document.getElementById("myChart").getContext("2d");

var myPieChart = new Chart(ctx,{
    type: 'pie',
    data: {
      labels: <%=raw @wa.keys%> //["Red","Blue","Yellow"]
      ,
      datasets: [
          {
              data: <%= @a %> //[1, 2, 1]
              ,
              backgroundColor: [
                  "#FF6384",
                  "#36A2EB",
                  "#FFCE56",
                  "#874250",
                  "#6bba6b"
              ]
          }]
    },

    options: [
      {
        segmentShowStroke : true
      }
    ]
});

</script>
